<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class= "logo nav-link" href="../templates/index.html">TechShop</a>
            </nav>
        </header>
        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subcociente llevo todos los dias...</p>
        </aside>
        <section>
            <h2>BMW M4</h2>
            <img src="/img/BMW m4.jpg" width="300" alt=""/>
            <h2>Lamborghini Murciélago</h2>
            <img src="/img/Lamborghini_Murcielago.jpeg" width="300" alt=""/>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop &COPY;
        </footer>
    </body>
</html>
