<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class= "logo nav-link" href="/templates/index.html">TechShop</a>
            </nav>
        </header>
        <aside>
            <h1>iFrames</h1>
            <p>Uso de iFrames dentro de nuestro sitio web</p>
        </aside>
        <section>
            <article>
                <h3>Sitio Web interno</h3>
                <iframe src="https://ufidelitas.ac.cr/" height="400" width="1200"> </iframe>
            </article>
             <article>
                <h3>YouTube</h3>
                <iframe width="1236" height="695" title="50 Cent - Many Men (Wish Death)"
                        src="https://youtu.be/5D3crqpClPY?si=hutgFy37mmp7T14L"> </iframe>
            </article>
            <article>
                <h3>Ubicacion Picola Pizza</h3>
                <iframe src="https://maps.app.goo.gl/HiKXmACJMYyQJBnQ8"> </iframe>
            </article>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop &COPY;
        </footer>
    </body>
</html>
