<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class= "logo nav-link" href="../templates/index.html">TechShop</a>
            </nav>
        </header>
        <aside>
            <h1>Multimedia</h1>
            <p>Incorporacion de recursos multimdia en el sitio web...</p>
        </aside>
        <section>
            <h2>Uso de multimedia</h2>
            <article>
                <h3>What</h3>
                <audio controls>
                    <source src="/audios/what-oh-hell-no-grandpa.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
            <article>
                <h3>Get Out</h3>
                <audio controls>
                    <source src="/audios/tuco-get-out.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
            <article>
                <h3>Mi Bombo</h3>
                <audio controls>
                    <source src="/audios/mi-bombo.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop &COPY;
        </footer>
    </body>
</html>
